// Button module
.button {
  background-color: map-get($colors, green);
  color: white;
  border-radius: 0.2rem;
  border: 0;
  padding: .3rem .8rem;
  font-size: .8rem;

  &:hover {
    cursor: pointer;
    color: map-get($colors, darkgray);
  }

  &--navbar {
    float: right;
    display: inline-block;
    margin-top: -0.2rem;
  }

  &--delete {
    background-color: map-get($colors, ui-transparent);
    color: map-get($colors, gray);
    float: right;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

}
