// Header module
.header {
  background-color: map-get($colors, primary);
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light";

  a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px darkgray;
  }
}
