//Todo form module
.todo-form {
  margin: 2rem auto;
  width: 40%;

  &__input {
    width: 100%;
    background: -webkit-linear-gradient($lightgray, white);
    background: -o-linear-gradient($lightgray, white);
    background: linear-gradient($lightgray, white);
    border: 1px solid map-get($colors, lightgray);
    border-radius: 4px;
    font-size: 1.5rem;
    padding: .7rem 1.2rem;

    &::placeholder {
      color: $gray;
    }
  }
}
